body
    font-family: sans-serif
    
#categories
    display: inline-block
    flex: 1
    max-width: 30%
    a
        display: block

#main-view
    flex: 2
    display: inline-block
    vertical-align: top

.flex-container
    display: flex
    justify-content: space-between
    max-width: 65rem
    margin: 0 auto

.modal
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    opacity: 0
    pointer-events: none
    background: rgba(255,255,255, 0.7)
    &.active
        pointer-events: auto
        opacity: 1
    .modal__close
        position: absolute
        top: 1rem
        right: 1rem
        padding: 0.5rem
        font-size: 0.8rem
        background: #ebebeb
        border: 1px solid red
        z-index: 10
        cursor: pointer
    .modal__container
        position: relative
        max-height: 80vh
        max-width: 90vw
        background: white
        padding: 2rem
        border: 1px solid grey
        border-radius: 1rem